extends layout

block content
    .centered
        h1= title
        p ParentConnection login:
        form#login(action="/", method="post")
            input.form-control#username(name="username", placeholder="Username")
            br
            input.form-control#password(name="password", type="password", placeholder="Password")
            br
            input.btn.btn-lg.btn-primary.btn-block(type="submit", value="Sign In")