body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}
form {
    max-width: 400px;
    max-height: 40px;
    padding: 15px;
    margin: 0 auto;
}
form .form-control:focus {
    z-index: 2;
}
form .form-control {
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
}
form input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
form input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
a {
  color: #00B7FF;
}
.centered{
    text-align: center;
}