body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
form {
    max-width: 400px;
    max-height: 40px;
    padding: 15px;
    margin: 0 auto;
}
form .form-control:focus {
    z-index: 2;
}
form .form-control {
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
}
form input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
form input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
h1 {
    font-weight: bold;
}
ul {
    list-style: circle;
    font-size: 12px;
}
.list-group-item.active {
  color: #FFFFFF;
  font-size: 16px;
}
.centered{
    text-align: center;
}

